<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div role="main" class="main">
      <a href="#nav" class="nav-toggle nav-collapse-0 closed" style="transition: max-height 284ms ease 0s; position: relative;" aria-hidden="false">Menu</a>
      <noscript>
        <p>Your Browser does not support JavaScript or it is disabled. You need to activate JavaScript to use this site!</p>
      </noscript>
      {{ content }}
      <br />
      <br />
    </div>

    {% include footer.html %}

    <script>
        var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
    </script>
  </body>

</html>
